/* You can add global styles to this file, and also import other style files */

/* Global */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Top Nav */

app-top-nav {
  width: 100%;
  height: 68px;
  background-color: #31913e;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-nav h1 {
  color: white;
  margin: 0;
}

/* Board */

app-board-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.board-container {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;

}
